<form action="/metot" method="post">
	<div class="input-class">
		MetotName : <input type="text" name="name">
	</div>

	<div class="input-class">
		Description : <input type="textarea" name="desc">
	</div>
	<div class="input-class">
		Example : <input type="textarea" name="example">
	</div>
	<div class="input-class">
		Sınıf : <input type="text" name="sinif">
	</div>
	<input class="buton" type="submit" value="Oluştur">
</form>

<style>
	* {
		margin: 0px;
		padding: 0px;
	}

	.input-class {
		margin: 10px;
		padding: 2px;
	}
	.buton {
		width: 50px;
		height: 30px;
		margin: 10px;
	}
</style>