<form action="/user" method="post">
	Username : <input type="text" name="username">
	Password : <input type="text" name="password">
	SuperUser : <input type="text" name="superuser">
	<input type="submit" value="Ekle">
</form>
